#!/bin/sh
# {{ ansible_managed }}
ip link add {{ jool_interface }} type veth peer openwrt
ip netns add {{ jool_namespace }}
ip link set dev openwrt netns {{ jool_namespace }}

ip netns exec {{ jool_namespace }} sh <<EOF
        sysctl -w net.ipv4.conf.all.forwarding=1
        sysctl -w net.ipv6.conf.all.forwarding=1
        sysctl -w net.ipv6.conf.openwrt.accept_ra=2
        sysctl -w net.ipv4.ip_local_port_range="32768 32999"
        ip link set dev lo up
        ip link set dev openwrt up
        ip addr add dev openwrt {{ jool_v4subnet | ansible.utils.ipaddr('2') }}
        ip addr add dev openwrt fe80::64
        ip route add default via {{ jool_v4subnet | ansible.utils.ipaddr('1') | ansible.utils.ipaddr('address') }}
        modprobe jool
        jool instance add --netfilter --pool6 {{ jool_pool6 }}
        jool global update lowest-ipv6-mtu 1500
        jool pool4 add {{ jool_v4subnet | ansible.utils.ipaddr('2') | ansible.utils.ipaddr('address') }} 33000-65535 --tcp
        jool pool4 add {{ jool_v4subnet | ansible.utils.ipaddr('2') | ansible.utils.ipaddr('address') }} 33000-65535 --udp
        jool pool4 add {{ jool_v4subnet | ansible.utils.ipaddr('2') | ansible.utils.ipaddr('address') }} 33000-65535 --icmp
EOF
